/* Enter your custom styles here */
/* Enter your custom styles here */
html,body{
    overflow-y: hidden;
}

.customTabBar .sapMITBFilter.sapMITBSelected {
    border-bottom: 3px solid #0070f2; /* Your highlight color */
    border-radius: 0;
    background: none !important;
    color: inherit !important;
}

/* Optional: Adjust spacing */
.customTabBar .sapMITBFilter {
    padding-bottom: 6px;
}

.objClass{
    font-weight: bolder;
}

.fileStatus{
    font-weight: bold;
}

.noWrapText{
    text-wrap: nowrap;
}